<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:fragment="headFrag(title)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title th:text="${title}">Mundo Marino</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
  </head>

  <body th:fragment="mainNav">
    <header class="site-header">
      <div class="header-inner container">
        <a class="brand" th:href="@{/}">Mundo Marino</a>

        <nav class="main-nav">
          <a th:href="@{/}">Inicio</a>

          <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/dashboard/admin}">Gestión de Empleados</a>
          </span>

          <span sec:authorize="hasRole('GUIA')">
            <a th:href="@{/dashboard/guia/}">Mis Itinerarios</a>
          </span>

          <span sec:authorize="hasRole('CUIDADOR')">
            <a th:href="@{/dashboard/cuidador/}">Mis Animales</a>
          </span>

          <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Cerrar sesión</a>
          <a th:href="@{/login}" sec:authorize="isAnonymous()">Iniciar sesión</a>
        </nav>
      </div>
    </header>
  </body>
</html>
