<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="headFrag(title)">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title th:text="${title}">Fundación Mundo Marino</title>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>

    <body th:fragment="mainNav">
        <header class="site-header">
            <div class="header-inner container">
                <!-- Contenedor para logo y título alineados a la izquierda -->

                <div class="brand-container">
                    <a class="brand" th:href="@{/}"><img th:src="@{/images/logo-txt.jpg}" alt="Logo Mundo Marino" class="nav-logo"></a>
                    <a class="brand" th:href="@{/}"><img th:src="@{/images/fmm.png}" alt="Logo Fundación Mundo Marino" class="nav-logo"></a>
                </div>

                <nav class="main-nav">
                    <span sec:authorize="isAuthenticated()">
                        <p class="btn btn-primary" style="background:#fff;color:#000;"><b th:text="${#authentication.name}"></b></p>
                    </span>

                    <span sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin}" class="btn btn-primary">Dashboard</a>
                    </span>

                    <span sec:authorize="hasRole('GUIA')">
                        <a th:href="@{/guia}" class="btn btn-primary">Dashboard</a>
                    </span>

                    <span sec:authorize="hasRole('CUIDADOR')">
                        <a th:href="@{/cuidador}" class="btn btn-primary">Dashboard</a>
                    </span>

                    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" style="display:inline">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-secondary">Cerrar sesión</button>
                    </form>

                    <a th:href="@{/login}" sec:authorize="isAnonymous()" class="btn btn-primary">Iniciar sesión</a>
                </nav>
            </div>
        </header>
    </body>
</html>
